RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{DOCUMENT_ROOT}/dist/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/dist/$1 -d
RewriteRule ^(.*)$ dist/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/dist/index.html -f
RewriteRule ^ dist/index.html [L]
